vectors/Ciena_error_lines_20220701-20220715.txt_vectors.vec
matrix_variaveis.csv
concat_matrix_pandas.csv
concat_df_pandas.csv
concat_mat_numpy.csv
vectors/Andriod_2k.log_vectors_TFIDF.vec
jac_distance.csv
matrix_variaveis_teste.csv
.gitignore
tfidf_distance.csv
var_distance.csv
tfidf_distance.csv.npy
var_distance.csv.npy
count_distance.csv.npy
cluster_5.txt
my_model
logs/trat3_production_1650_1700_20231411.json
logs/trat3_production_1650_1700_20231411_raw.txt
.gitignore
results/trat3_production_1650_1700_20231411_raw.txt_templates.csv
vectors/trat3_production_1650_1700_20231411_raw.txt_vectors_TFIDF.vec
results/trat3_production_1650_1700_20231411_raw.txt_structured.csv
logs/trat3_production_1650_1700_20231411_correct.zip
var_distance_bgl_lines.txt.csv.npy
tfidf_distance_bgl_lines.txt.csv.npy
count_distance_bgl_lines.txt.csv.npy
CienaFiles/emb_distances_benchmark__llama-13b__emb_dist_type-cosine__mean__1000.hdf5
CienaFiles/emb_distances_benchmark__llama-13b__emb_dist_type-euclidean__mean__1000.hdf5
CienaFiles/splitted_event_ids.json
CienaFiles/trat3_production_1650_1700_20231411_v1.hdf5
