vectors/Ciena_error_lines_20220701-20220715.txt_vectors.vec
matrix_variaveis.csv
concat_matrix_pandas.csv
concat_df_pandas.csv
concat_mat_numpy.csv
vectors/Andriod_2k.log_vectors_TFIDF.vec
jac_distance.csv
matrix_variaveis_teste.csv
.gitignore
tfidf_distance.csv
var_distance.csv
tfidf_distance.csv.npy
var_distance.csv.npy
count_distance.csv.npy
cluster_5.txt
my_model
data/input/
.env
.vscode/*
*.so
**/__pycache__/
data/
tests/CienaFiles/data-10.json
tests/CienaFiles/data.json
tests/CienaFiles/jenkins_build_log
tests/CienaFiles/jenkins_build_log.json
tests/CienaFiles/pots-emotr
tests/CienaFiles/pots-emotr.json
tests/CienaFiles/pots-ome6500
tests/CienaFiles/pots-sim6500
tests/CienaFiles/pots-sim6500.json
