vectors/Ciena_error_lines_20220701-20220715.txt_vectors.vec
matrix_variaveis.csv
concat_matrix_pandas.csv
concat_df_pandas.csv
concat_mat_numpy.csv
vectors/Andriod_2k.log_vectors_TFIDF.vec
jac_distance.csv
matrix_variaveis_teste.csv
.gitignore
tfidf_distance.csv
var_distance.csv
tfidf_distance.csv.npy
var_distance.csv.npy
count_distance.csv.npy
cluster_5.txt
